.button__azul {
	background-color:$celeste;
	color:$white;
	font-family:$open;
	font-size:$small;
	padding:10px 30px;
	border:1px solid $celeste;
	margin-right:1%;

}

.button__rojo {
	background-color:$rojo;
	color:$white;
	font-family:$open;
	font-size:$small;
	padding:10px 30px;
	border:1px solid $rojo;

}