h1 {
	font-family:$open;
	font-size:$x-large;
	font-weight:$bold;
}

h2 {
	font-family:$open;
	font-size:$medium;
	font-weight:$bold;
	margin-top:4%;
}


h3 {
	font-family:$open;
	font-size:$medium;
	font-weight:$bold;
}

p {
	font-family:$open;
	color:$griss;
}