//Esquema de color //

$white:#fff;
$rojo:#f26060;
$celeste:#a5e7f7;
$negro:#071013;
$griss:#cccccc;

//Tipografia //

$open:'Open Sans', sans-serif;


//Pesos //
$regular:300;
$semi:400;
$bold:700;

//Tamaños de fuentes //

$xx-large:60px;
$x-large:35px;
$large:25px;
$medium:16px;
$small:12px;