.main__img {
	background-image: url("../images/image-banner.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:300px;
	background-position:center;
}

@media only screen and (max-width:375px) {
	.main__img{
		height:100px;
	}

}